@{
    ViewBag.Title = "Collaboration Page";
}

<div class="description">
    <h2 class="heading-secondary">
        Our Collaboration
    </h2>
    <p>We have collaborated with well-known brands spread throughout Indonesia</p>
</div>

<div class="work mb">
    <img src="/img/brand-pln.png" alt="Brand 1">
    <img src="/img/brand-pdam.jpg" alt="Brand 2">
    <img src="/img/brand-semen.jpg" alt="Brand 3">
    <img src="/img/brand-window.jpg" alt="Brand 4">
    <img src="/img/brand-wood.png" alt="Brand 5">
    <img src="/img/brand-toto.jpg" alt="Brand 6">
</div>