@{
    ViewBag.Title = "Home Page";
}

<div class="hero">
    <div class="content">
        <h1 class="heading-primary">
            Welcome to Kuva Jaya
        </h1>
        <p>
            The best property company in Indonesia. We are here to serve your property needs.
        </p>

        <a href="" class="btn">contact now</a>
    </div>

    <div class="hero-img">
        <img src="img/home-buildings.jpg" alt="Hero Image">
    </div>
</div>

