@{
    ViewBag.Title = "Profile Page";
}

<div class="description">
    <h2 class="heading-secondary">
        Our Profile
    </h2>
    <p>
        Kuva Jaya is a diverse property group encompassing all
        facets of property, from commercial sales and leasing through to residential
        property, business sales, commercial, residential and shopping centre asset management.
        With industry leading agents and asset managers servicing Indonesia and beyond
        Kuva Jaya’s team provides high quality care and service in a competitive property
        market. Kuva Jaya maintains strong market presence with a new corporate look.
    </p>
</div>
</div>

